:root {
    --verde-muy-oscuro: #072b2b;
    --verde-hover: #0e4849;
    --verde-claro: #036566;
}

.bg-verde-oscuro {
    background-color: #072b2b;
}

.bg-verde {
    background-color: #0e4849;
}

.bg-gris-claro {
    background-color: #dedede;
}
.verde {
    background-color: #036566;
}

.txt-verde-oscuro {
    color: #072b2b;
}

.txt-ver-confirmar {
    color: #1faa59;
}



