:root {
    --verde-muy-oscuro: #072b2b;
    --verde-hover: #0e4849;
    --verde-claro: #209b9d;
    --verde-claro-hover: #1a7f81;
    --rojo: #ba272f;
    --rojo-hover: #8b2a2f;
    --verde-confirmacion: #1faa59;
    --verde-confirmacion-hover: #178f4b;
}

.bg-verde-oscuro {
    background-color: #072b2b;
}

.bg-verde-claro {
    background-color: var(--verde-claro);
}

.bg-verde {
    background-color: #0e4849;
}

.bg-gris-claro {
    background-color: #dedede;
}
.verde-claro {
    background-color: var(--verde-claro);
}

.txt-verde-oscuro {
    color: #072b2b;
}

.txt-ver-confirmar {
    color: var(--verde-confirmacion);
}

.btn-verde {
    background-color: var(--verde-claro);
    color: white;
}

.btn-verde:hover {
    background-color: var(--verde-claro-hover);
    color: white;
}

.btn-rojo {
    background-color: var(--rojo);
    color: white;
}

.btn-verde-confirmar {
    background-color: var(--verde-confirmacion);
    color: white;
}

.btn-verde-confirmar:hover {
    background-color: var(--verde-confirmacion-hover);
    color: white;
}

.btn-rojo:hover {
    background-color: var(--rojo-hover);
    color: white;
}



