footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer a {
    color: #ffcc00;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.w-5 {
    width: 5%;
}

.w-40 {
    width: 40%;
}

.w-55 {
    width: 55%;
}

body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 220px;
            background-color: #f8f9fa;
            padding: 1rem;
            border-right: 1px solid #ddd;
        }

        .main-content {
            margin-left: 220px;
            padding: 1rem;
        }

        .sidebar .nav-link {
            color: white;
            margin-bottom: 3%;
        }

        .sidebar .nav-link:hover {
            background-color: #0e4849;
            border-radius: 0.25rem;
        }
