@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --color-headerprincipal-bg: rgb(207, 207, 207);
    --color-subheader-bg: rgb(218, 218, 218);
    --color-header-text: #000000;
    --color-subheader-text: #000000;
    --color-border: #d6d6d6;
    --color-border-header: #ffffff;
    --color-row-hover: #f0f0f0;
    --color-body-bg: #ffffff;
}

.table-custom {
    width: 100%;
    background-color: var(--color-body-bg);
    border-collapse: collapse;
    font-size: 0.95rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* .table-custom thead tr th {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  text-align: center;
  font-weight: 600;
  padding: 0.75rem;
  border: 2px solid var(--color-border);
} */
.table-custom thead tr.header-principal th {
    background-color: var(--color-headerprincipal-bg);
    color: var(--color-header-text);
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    /* border: 2px solid var(--color-border-header); */
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: small;
    border-bottom: 0;
}

.table-custom thead tr.sub-header th {
    background-color: var(--color-subheader-bg);
    color: var(--color-subheader-text);
    text-align: center;
    font-weight: 200;
    padding: 0.45rem;
    /* border: 2px solid var(--color-border-header); */
    font-family: "Roboto", sans-serif;
    font-size: small;
    border-bottom: none !important;
    border-right: 1px solid var(--color-border);
}
.table-custom tbody tr {
    border-collapse: collapse !important;
}
.table-custom tbody td {
    padding: 0.75rem;
    border-bottom: 0.5px solid var(--color-border);
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.table-custom tbody tr:hover {
    background-color: var(--color-row-hover);
    transition: background-color 0.2s ease-in-out;
}

.table-custom .text-muted {
    color: #6c757d;
}

#tablePasajes tbody tr {
    cursor: pointer;
}

